body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1762px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:457px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1535 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:80px;
  width:636px;
  height:457px;
}
#u1535_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:367px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1536 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:131px;
  width:501px;
  height:367px;
}
#u1536_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:45px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1537 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:131px;
  width:501px;
  height:45px;
}
#u1537_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1538 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:145px;
  width:57px;
  height:17px;
  font-size:14px;
  color:#FFFFFF;
}
#u1538_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
}
#u1539 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:186px;
  width:43px;
  height:17px;
  font-size:14px;
  color:#5E5E5E;
}
#u1539_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1541 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:213px;
  width:219px;
  height:215px;
  font-size:14px;
  text-align:left;
}
#u1541_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1542 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:450px;
  width:84px;
  height:31px;
  font-size:14px;
}
#u1542_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u1543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:31px;
}
#u1543 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:450px;
  width:84px;
  height:31px;
  font-size:14px;
  color:#FFFFFF;
}
#u1543_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u1544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1544 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:213px;
  width:219px;
  height:215px;
  font-size:14px;
  text-align:left;
}
#u1544_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
}
#u1545 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:188px;
  width:43px;
  height:17px;
  font-size:14px;
  color:#5E5E5E;
}
#u1545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
}
#u1546 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:222px;
  width:43px;
  height:17px;
  font-size:14px;
  color:#5E5E5E;
}
#u1546_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1547 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:272px;
  width:100px;
  height:17px;
  font-size:14px;
}
#u1547_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1547_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1548 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:298px;
  width:100px;
  height:17px;
  font-size:14px;
}
#u1548_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1548_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1549 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:324px;
  width:100px;
  height:17px;
  font-size:14px;
}
#u1549_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1549_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1550 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:350px;
  width:100px;
  height:17px;
  font-size:14px;
}
#u1550_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1550_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1551 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:376px;
  width:100px;
  height:17px;
  font-size:14px;
}
#u1551_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1551_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1552 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:402px;
  width:100px;
  height:17px;
  font-size:14px;
}
#u1552_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1552_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1553 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:222px;
  width:43px;
  height:17px;
  font-size:14px;
}
#u1553_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1554 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:249px;
  width:43px;
  height:17px;
  font-size:14px;
}
#u1554_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1555 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:276px;
  width:43px;
  height:17px;
  font-size:14px;
}
#u1555_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1556 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:223px;
  width:16px;
  height:16px;
}
#u1556_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1557 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:249px;
  width:16px;
  height:16px;
}
#u1557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1558 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:275px;
  width:16px;
  height:16px;
}
#u1558_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1559 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:272px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1559_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1560 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:298px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1560_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1561 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:324px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1562 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:350px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1562_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1563 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:376px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1563_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1564 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:402px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1564_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1565 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:246px;
  width:100px;
  height:17px;
  font-size:14px;
}
#u1565_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1565_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1566 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:271px;
  width:20px;
  height:20px;
}
#u1566_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1567 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:296px;
  width:20px;
  height:20px;
}
#u1567_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1568 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:322px;
  width:20px;
  height:20px;
}
#u1568_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1569 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:348px;
  width:20px;
  height:20px;
}
#u1569_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1570 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:375px;
  width:20px;
  height:20px;
}
#u1570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1571 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:400px;
  width:20px;
  height:20px;
}
#u1571_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1572 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:222px;
  width:20px;
  height:20px;
}
#u1572_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1573 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:247px;
  width:20px;
  height:20px;
}
#u1573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1574 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:273px;
  width:20px;
  height:20px;
}
#u1574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1576 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:213px;
  width:219px;
  height:215px;
  font-size:14px;
  text-align:left;
}
#u1576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
}
#u1577 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:222px;
  width:43px;
  height:17px;
  font-size:14px;
  color:#5E5E5E;
}
#u1577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1578 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:272px;
  width:100px;
  height:17px;
  font-size:14px;
}
#u1578_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1578_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1579 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:298px;
  width:100px;
  height:17px;
  font-size:14px;
}
#u1579_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1579_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1580 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:324px;
  width:100px;
  height:17px;
  font-size:14px;
}
#u1580_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1580_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1581 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:350px;
  width:100px;
  height:17px;
  font-size:14px;
}
#u1581_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1581_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1582 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:376px;
  width:100px;
  height:17px;
  font-size:14px;
}
#u1582_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1582_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1583 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:402px;
  width:100px;
  height:17px;
  font-size:14px;
}
#u1583_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1583_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1584 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:272px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1585 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:298px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1586 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:324px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1587 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:350px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1588 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:376px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1589 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:402px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:246px;
  width:100px;
  height:17px;
  font-size:14px;
}
#u1590_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1590_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1591 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:271px;
  width:20px;
  height:20px;
}
#u1591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:296px;
  width:20px;
  height:20px;
}
#u1592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:322px;
  width:20px;
  height:20px;
}
#u1593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:348px;
  width:20px;
  height:20px;
}
#u1594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:375px;
  width:20px;
  height:20px;
}
#u1595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:400px;
  width:20px;
  height:20px;
}
#u1596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1598 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:213px;
  width:219px;
  height:215px;
  font-size:14px;
  text-align:left;
}
#u1598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1599 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:222px;
  width:101px;
  height:17px;
  font-size:14px;
}
#u1599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u1600 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:272px;
  width:135px;
  height:17px;
  font-size:14px;
}
#u1600_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u1600_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1601 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:298px;
  width:135px;
  height:17px;
  font-size:14px;
}
#u1601_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u1601_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1602 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:324px;
  width:135px;
  height:17px;
  font-size:14px;
}
#u1602_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u1602_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:350px;
  width:135px;
  height:17px;
  font-size:14px;
}
#u1603_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u1603_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:376px;
  width:135px;
  height:17px;
  font-size:14px;
}
#u1604_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u1604_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:402px;
  width:135px;
  height:17px;
  font-size:14px;
}
#u1605_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u1605_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:272px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:298px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:324px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:350px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:376px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1611 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:402px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:246px;
  width:100px;
  height:17px;
  font-size:14px;
}
#u1612_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1612_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:271px;
  width:20px;
  height:20px;
}
#u1613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:296px;
  width:20px;
  height:20px;
}
#u1614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1615 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:322px;
  width:20px;
  height:20px;
}
#u1615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1616 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:348px;
  width:20px;
  height:20px;
}
#u1616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:375px;
  width:20px;
  height:20px;
}
#u1617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:400px;
  width:20px;
  height:20px;
}
#u1618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:213px;
  width:219px;
  height:215px;
  font-size:14px;
  text-align:left;
}
#u1620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1621 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:222px;
  width:181px;
  height:17px;
  font-size:14px;
}
#u1621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:272px;
  width:135px;
  height:17px;
  font-size:14px;
}
#u1622_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u1622_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:298px;
  width:135px;
  height:17px;
  font-size:14px;
}
#u1623_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u1623_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:324px;
  width:135px;
  height:17px;
  font-size:14px;
}
#u1624_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u1624_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:246px;
  width:100px;
  height:17px;
  font-size:14px;
}
#u1625_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1625_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1626 {
  border-width:0px;
  position:absolute;
  left:1336px;
  top:271px;
  width:20px;
  height:20px;
}
#u1626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1627 {
  border-width:0px;
  position:absolute;
  left:1336px;
  top:296px;
  width:20px;
  height:20px;
}
#u1627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:1336px;
  top:322px;
  width:20px;
  height:20px;
}
#u1628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:1543px;
  top:213px;
  width:219px;
  height:215px;
  font-size:14px;
  text-align:left;
}
#u1630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:1557px;
  top:222px;
  width:201px;
  height:17px;
  font-size:14px;
}
#u1631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:1557px;
  top:272px;
  width:135px;
  height:17px;
  font-size:14px;
}
#u1632_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u1632_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:1557px;
  top:298px;
  width:135px;
  height:17px;
  font-size:14px;
}
#u1633_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u1633_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:1557px;
  top:324px;
  width:135px;
  height:17px;
  font-size:14px;
}
#u1634_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u1634_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:1557px;
  top:246px;
  width:100px;
  height:17px;
  font-size:14px;
}
#u1635_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1635_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:1576px;
  top:271px;
  width:20px;
  height:20px;
}
#u1636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:1576px;
  top:296px;
  width:20px;
  height:20px;
}
#u1637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:1576px;
  top:322px;
  width:20px;
  height:20px;
}
#u1638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:1476px;
  top:273px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:1476px;
  top:299px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:1476px;
  top:325px;
  width:29px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u1641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:53px;
  width:591px;
  height:17px;
  font-size:14px;
}
#u1642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  word-wrap:break-word;
}
#u1643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:301px;
  width:43px;
  height:17px;
  font-size:14px;
}
#u1643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:328px;
  width:43px;
  height:17px;
  font-size:14px;
}
#u1644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:355px;
  width:43px;
  height:17px;
  font-size:14px;
}
#u1645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:302px;
  width:16px;
  height:16px;
}
#u1646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:328px;
  width:16px;
  height:16px;
}
#u1647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:354px;
  width:16px;
  height:16px;
}
#u1648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:301px;
  width:20px;
  height:20px;
}
#u1649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:326px;
  width:20px;
  height:20px;
}
#u1650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:352px;
  width:20px;
  height:20px;
}
#u1651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
